<h1>Angular Routing</h1>
<hr>
<p>Angular routing allows to navigate between different components</p>
<ul>
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/about">About</a></li>
  <li><a routerLink="/contact">Contact</a></li>
</ul>

<router-outlet></router-outlet>
